body {
  background-image: url('./../images/Backgroundimg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  padding-top: 80px; /* For fixed header spacing */
}


.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hover-btn {
  transition: all 0.3s ease;
}

.hover-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* .custom-header { */
  /* background: rgba(18, 18, 18, 0.85); semi-transparent to blend with background */
  /* backdrop-filter: blur(6px); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
  /* padding: 1rem 0; */
  /* z-index: 999; */
/* } */
